# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Secrets - DO NOT COMMIT
.env
gcal_token.pickle
gcal_credentials.json

# Test Logs 

/logs

# Other

echo-application/node_modules.token
api_server.log
*.log
__pycache__/
